#menu{
    /*min-width: 50%;*/
    float: right;
    width: 300px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
}


input{
    margin: 10px;
    width: 100px;
    height: 15px;
    border-radius: 5px;
}


#myChart{
    background-color: #32373A;
    display: block;
    position: inherit;
    margin-top: 400px;
    height: 200px;
    color: #fff;
    border-radius: 6px;
    /*   Check out the fancy shadow  on this one */
    box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.6);



}
